<%- include('header.ejs') %>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Playdog.com</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
            <span class="navbar-text logout">
                <a class="nav-link" href="#">Logout</a>
            </span>
        </div>
        </div>
    </nav>
    <h1 class="regHeader">Registration</h1>
    <div class="container-fluid regCont">
        <form class="forms" action="/registration" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputphone" class="form-label">Phone</label>
              <input type="text" name="phone" class="form-control" id="exampleInputphone">
            </div>
            <div class="mb-3">
              <label for="exampleInputbreed" class="form-label">Your pet's breed</label>
              <input type="text" name="breed" class="form-control" id="exampleInputbreed">
            </div>
            <div class="mb-3">
              <label for="exampleInputgender" class="form-label">Your pet's Gender</label>
              <input type="text" name="gender" class="form-control" id="exampleInputgender">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>



    <%- include('footer.ejs') %>